:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.add-todo {
  width: 15%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.todo-list-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}

.todo-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}