<div class="wrapper">
  <div class="add-todo">
    <app-add-todo (todoItemAdd)="onTodoItemAdd($event)"></app-add-todo>
  </div>
  
  <div class="todo-list-wrapper" *ngIf="!(loading$ | async); else loadingSpinner">
    <div class="todo-list pending">
      <h2>To Do</h2>
      <app-todo-list
        [todoItems]="todoItems$ | async | filterByStatus:false"
        (toggleTodoItemDone)="onToggleTodoItemDone($event)"
      ></app-todo-list>
    </div>
    <div class="todo-list completed">
      <h2>Completed</h2>
      <app-todo-list
        [todoItems]="todoItems$ | async | filterByStatus:true"
        (toggleTodoItemDone)="onToggleTodoItemDone($event)"
      ></app-todo-list>
    </div>
  </div>
</div>

<ng-template #loadingSpinner>
  <app-loading-spinner></app-loading-spinner>
</ng-template>