<header>
  <h1>To-do List App</h1>
</header>

<main>
  <form (ngSubmit)="onSubmit()">
    <input type="text" name="new-todo-item" placeholder="Add to-do" [(ngModel)]="newTodoItem" />
    <button type="submit">Submit</button>
  </form>

  <div class="todo-list">
    <div class="todo-item" *ngFor="let todoItem of todoItems; let i = index">
      <label for="todo-item-{{i}}">
        <input type="checkbox" id="todo-item-{{i}}" (change)="onDoTask(i)">
        {{todoItem}}
      </label>
    </div>
  </div>
</main>

<footer></footer>